/* Mengatur jarak vertikal dengan margin */
.spasi-1 {
  margin-top: 10rem; /* Jarak setara dengan 1 baris */
}
.spasi-7 {
  margin-top: 20rem; /* Jarak setara dengan 7 baris */
}
.spasi-20 {
  margin-top: 30rem; /* Jarak setara dengan 20 baris */
}


